/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --hover-color: red;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
    width: .6rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white); 
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body {
    background: var(--bg-color) fixed;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    padding: 2rem 2%;
    max-width: 1200px;
    margin: 0 auto; 
}

/* --------- Footer Style ----------- */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: var(--bg-color);
  position: relative;
  top: 60rem;
}

.footer-text p {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.footer-iconTop a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  position: relative;
  height: 2rem;
  width: 2rem;
  background: transparent;
  border-radius: 50%;
  transition: 0.5s ease;
  margin-right: 1rem;
}

.footer-iconTop a:hover {
  color: var(--hover-color);
}

.footer-iconTop a i {
  position: relative;
  font-size: 2rem;
  color: var(--main-color);
}

/* Media query for screens between 769px and 1200px */

@media screen and (max-width: 1024px) {
  .footer {
    top: 55rem;
    padding: 1.5rem; 
  }

  .footer-iconTop a {
    padding: 0.6rem; 
    height: 2rem; 
    width: 2rem; 
    margin-right: 0.5rem; 
  }

  .footer-iconTop a i {
    font-size: 2rem; 
  }
}


@media screen and (max-width: 768px) {
  .footer {
    top: 99.8rem;
    flex-direction: column-reverse;
  }

  .footer-text p {
    font-size: 1.5rem;
    text-align: center;
  }

  .footer-iconTop a {
    padding: 0.5rem; 
    height: 2rem; 
    width: 2rem; 
    margin-right: 0.3rem; 
  }

  .footer-iconTop a i {
    font-size: 1.5rem; 
  }
}

@media screen and (max-width: 450px) {
  .footer{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    top: 115rem;

  }
  .footer-text p{
    margin-top: 0;
  }
  .footer-iconTop  {
    margin-top: 0;
    padding: 0.5rem; 
    font-size: 2.5rem; 
  }
}