/* Testimonials */

#testimonials h2 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 4.5rem;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 3s ease-in-out;
}

#testimonials h2:hover {
  transform: translate(-20px, 20px);
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  margin-left: 5rem;
}

.testimonial-card {
  width: 280px;
  height: 350px;
  background: var(--second-bg-color);
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  margin-right: -1rem;
}

.testimonial-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37%;
  background: var(--text-color);
  border-radius: 25px 25px 0 20px;
}

.testimonial-card img {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
  max-height: 60%;
  object-fit: cover;
  z-index: 1;
}

.media-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 20px;
}

.media-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-bg-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.6rem;
  color: var(--main-color);
  margin-bottom: 10px;
  transition: 0.5s ease;
  animation: bounce 3s infinite;
}

.media-icons a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  letter-spacing: 0.2rem;
  transform: rotate(0deg);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
}

@keyframes bounce-rotate {
  0%,
  100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(45deg) translateX(15px);
  }
}

.name {
  position: relative;
  top: 190px;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 0;
  z-index: 1;
  color: var(--main-color);
}

.profession {
  position: relative;
  top: 200px;
  z-index: 1;
  font-size: 0.8rem;
  text-align: center;
  color: var(--main-color);
  padding: 0 20px;
  margin-top: 0;
}

.quotes {
  margin-top: 0;
  color: var(--hover-color);
  font-size: 1rem;
}

.carousel.carousel-slider .control-arrow.control-prev {
  display: none;
}

.carousel.carousel-slider .control-arrow.control-next {
  display: none;
}

.carousel.carousel-slider .control-dots {
  position: absolute;
  bottom: 0; 
  top: 49vh;
  left: 45%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 1;
}

.carousel.carousel-slider .control-dots .dot {
  background-color: var(--second-bg-color);
  width: 10px;
  height: 10px;
  margin: 0 6px; 
  border-radius: 50%;
  transition: background-color 0.3s ease;
  display: inline-block; 
}

.carousel.carousel-slider .control-dots .dot.selected {
  background-color: var(--main-color);
}

/* For screens with max-width: 1690px, increase font size and card size */
@media (max-width: 1690px) {
  .testimonial-card {
    width: 350px;
    height: 420px;
  }

  .name {
    top: 250px;
    font-size: 1.5rem;
  }

  .profession {
    top: 270px;
    font-size: 1rem;
  }

  .quotes {
    font-size: 1.2rem;
  }
}

/* For screens with max-width: 768px, display two testimonials and center them */
/* For screens with max-width: 768px, display two testimonials at the center */
@media (max-width: 768px) {
  .testimonial-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonial-card {
    flex-basis: calc(50% - 1.5rem); /* Calculate the width for two testimonials with a smaller gap */
    margin: rem; /* Add margin for spacing between testimonials */
    padding: 40px;
    height: 380px;
  }

  .name {
    top: 140px;
    font-size: 1.2rem;
  }

  .profession {
    top: 155px;
    font-size: 0.9rem;
  }
}


/* For screens with max-width: 480px, display only one testimonial */
@media (max-width: 480px) {
  .testimonial-container {
    grid-template-columns: 1fr;
  }

  .testimonial-card {
    width: 100%;
    height: 350px;
  }

  .name {
    top: 140px;
    font-size: 1.2rem;
  }

  .profession {
    top: 155px;
    font-size: 0.9rem;
  }
}
