/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --hover-color: red;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
    width: .6rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white); 
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body {
    background: var(--bg-color) fixed;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    padding: 2rem 2%;
    max-width: 1200px;
    margin: 0 auto; 
}

/* Testimonials */

#testimonials {
    padding: 10rem 10% 2rem;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

#testimonials h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    line-height: 4.5rem;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    background: var(--second-bg-color);
    padding: 20px;
    overflow-x: hidden;
    border-radius: 3rem;
    max-width: 100%; 
}

.col {
    width: 180px;
    margin-left: 6px;
    padding: 3rem 0.4rem;
    margin-right: 0;
}

.testimonial-card {
    width: 280px;
    height: 390px;
    background: var(--bg-color);
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.testimonial-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 37%;
    background: var(--text-color);
    border-radius: 25px 25px 0 20px;
}

.testimonial-card img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); 
    max-width: 50%; 
    max-height: 60%;
    object-fit: cover;
    z-index: 1;
}

.media-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 20px;
}

.media-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    width: 2rem; 
    height: 2rem;
    font-size: 1.6rem;
    color: var(--main-color);
    margin-bottom: 10px;
    transition: .5s ease;
    animation: bounce 3s infinite;
}

.media-icons a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    letter-spacing: 0.2rem;
    transform: rotate(0deg)
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(15px);
    }
}

@keyframes bounce-rotate {
    0%, 100% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(45deg) translateX(15px);
    }
}

.name {
    position: relative;
    top: 230px;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0;
    z-index: 1;
    color: var(--main-color);
}

.profession {
    position: relative;
    top: 240px;
    z-index: 1;
    font-size: 0.8rem;
    text-align: center;
    color: var(--main-color);
    padding: 0 20px;
    margin-top: 0;
}

.quotes {
    margin-top: 0;
    color: var(--hover-color);
    font-size: 1rem;
}

.carousel.carousel-slider .control-arrow.control-prev {
    left: 0;
    margin-left: 0; 
  }
  
  /* Right arrow */
  .carousel.carousel-slider .control-arrow.control-next {
    right: 0;
    margin-right: 0; 
  }

  @media (max-width: 768px) {
    /* Adjust the width for smaller screens (tablet portrait and below) */
    .col {
        width: 100%; /* Single column for smaller screens */
        margin-left: 0;
        margin-right: 0;
    }
}